/**
 * Style resets
 *
 *
 * @author Jaydev Gajera <jaydevonline@gmail.com>
 */

html,
body,
ul,
ol {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

*, *::after, *::before { box-sizing: border-box; }