/**
// Variables for stylesheets
 *
 * @author Jaydev Gajera <jaydevonline@gmail.com>
 */

//Device breakpoints in em's
$small-width		:47.9375em; // 47.9375 * 16 =  767px 
$large-width		:63.9375em; // 63.9375 * 16 = 1023px

$content-padding	:1em 2em;

