/**
 * Main CSS file.
 *
 * @author Jaydev Gajera <jaydevonline@gmail.com>
 * @version 1.0
 */


// To avoid any potential issue with character encoding 
@charset 'utf-8';

@import "theme/theme";


body { 
//	@include linear-gradient(#134E5E, #71B280);
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
}

.site {
	font-family: Helvetica, Arial, sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
}

header { 
	@include flex(none);
}

header.fixed {
	/*background: rgba(0, 0, 0, 0.666);*/
	position: fixed;
	width: 100%;
	.top-header {
		padding: $content-padding/2;
	}
}

.top-header {
	@include flexbox;
	@include align-items(center);
	background: rgba(0, 0, 0, 0.3);
	padding: $content-padding;
}

.blc-logo {
	@include flexbox;
	@include align-items(baseline);
	img { width: 14rem; }
}

.navigation {
	@include flexbox;
	@include flex(1);
	flex-direction: row;
	font-family: 'Muli', sans-serif;
	justify-content: flex-end;
	ul {
		list-style: none;
		li {
			display: inline-block;
			&:nth-child(1n) { margin-left: 4em; }
			&:first-child { margin-left: 0; }
			a {
				color: rgba(255, 255, 255, 0.9);
				font-weight: 300;
				// letter-spacing: 0.1rem;
				text-decoration: none;
			}
		}
	}
}


.background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;

	display: block;
	/*background: url(https://s3.amazonaws.com/files.creativemarket.com/images/screenshots/products/28/280/280567/fuppflzmofimposa23ox1tyg2cm3dg6dezmscelkzistkc9bx7gqfxn0cjldeoae-o.jpg?1419322672) no-repeat center center fixed;
	background: url(../../images/IMG_7975.jpg) no-repeat center center fixed;
	background: url(../../images/IMG_8004.jpg) no-repeat center center fixed;*/
	background: url(../../images/table_setup.jpg) no-repeat center center fixed;
	height: 100%;

	background-size: cover;

/*	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);*/
}

.content {
	/*position: fixed;*/
	/*left: 0;*/
	/*right: 0;*/
	/*z-index: 9999;*/
	&-text {
		font-weight: 300;
		font-family: 'Quicksand', sans-serif;
		font-size: 1.2rem;
		line-height: 1.3rem;
		padding: $content-padding;
		ul {
			margin: 1em 2em;
		}
	}
}

.main {
	@include align-items(center);
}

.hero {
	/*background:rgba(0,0,0,0.5);*/
	text-align:center;
	text-shadow: 1px 1px 1px black;
	padding: $content-padding;
	@include desktops { margin: 1em 0; }
	h1, h2, h3 {
		font-family: 'Nunito', sans-serif;
		margin:0 0 0.5rem 0;
	}
	h1 {
		font-size: 40px;
		font-weight: 300;
		font-stretch: semi-expanded;
		line-height: 1em;
	}
	h2 {
		font-size: 32px;
		font-weight: 300;
		font-stretch: semi-expanded;
		line-height: 1em;
	}
	h3 {
		font-family: 'Quicksand', sans-serif;
		font-size: 25px;
		font-weight: 500;
		font-stretch: semi-expanded;
		line-height: 1em;
	}
	p {
		font-family: 'Quicksand', sans-serif;
		font-size: 32px;
		line-height: 1em;
		margin: 0;
	}
	.salads {
		@include roundedArrow(10deg, 45deg, #ffffff, -20px, 90px);
	}
	&-wrapper {
		/*background: url(../../images/table_setup.jpg) center top no-repeat;*/
		background: url(../../images/hero-bg.jpg) center center no-repeat;
		background-size: cover;
		height: 450px;
		margin-top: 1em;
		position: relative;
	}
}

.signup-wrapper {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	height: 450px;
	margin: 0 2em;
	@include desktops { margin: 3em 2em; }
	padding:30px;
}

/* to test media query break points */


.test{

	@include phones {
		background: #f00 ;
	}

	@include tabs {
		background: #0f0 ;
	}

	@include desktops {
		background : #00f ;
	}
}

.box{
	border: $border-default;
}
