/**
 * Mixins for stylesheets
 *
 * 
 * @author Jaydev Gajera <jaydevonline@gmail.com>
 */


//---------------------------------------------------------------------------
// To implement the clearfix to perticular HTML element

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//---------------------------------------------------------------------------
// To make border rounded of any perticular HTML element


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}

//---------------------------------------------------------------------------
// button background with color transition

@mixin button-bg($bg) {
  background: $bg;

  @if $bg == $bg-btn-primary-small {
      &:hover {
        background: $bg-btn-primary-large ;
        transition: all 0.3s ease;
      }
  }

  @else {
      &:hover {
        background:darken($bg,8%);
        transition: all 0.3s ease;
      }
   }

  &:active {
    background:darken($bg,25%);
  } 
}


//---------------------------------------------------------------------------
// Quickly center any element within its parent. Requires width or max-width to be set

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


